In [ ]:
name="Shinma N P(that\'s me)"#This is a string. 
work="Curvelogics,Trivandrum"#This is also a string.
sites='''You can find me online on sites like Facebook & Twitter'''#This is a multi-line string.
print(name)
print(len(name))#Length of a string 
print(work)
print(sites)

Shinma N P(that's me)
21
Curvelogics,Trivandrum
You can find me online on sites like Facebook & Twitter

In [ ]:
print("Hello \t World")

Hello 	 World

In [ ]:
print("Hello \n World")

Hello
 World

In [ ]:
first_sent="Hi everyone"
second_sent="Is this class interesting?"
print(first_sent + "\t" + second_sent)#Concatenation
print(first_sent * 2)#Multiply the string

Hi everyone	Is this class interesting?
Hi everyoneHi everyone

In [ ]:
print(first_sent.count('e'))#Count the no: of appearance of 'e'.
print(first_sent.replace("Hi","Bye"))#Replace word.

3
Bye everyone

In [ ]:
company="Curvelogics Advanced Technology Solutions Pvt Ltd"
str1="Tech"
company.find(str1)
print(company.find(str1))
#Check the output
str2="Hello"
company.find(str2)
print(company.find(str2))
print(company.count(''))#count the space
print(company.count('c'))#count the letter c

21
-1
50
3

In [ ]:
company="Aura Education Society"
company.split()
print(company.split())
#I want to split the fruits
fruits="Apple,Orange,Grapes,Mango"
fruits.split(",")
print(fruits.split(","))
#Split the site address
address="www.gmail.com"
address.split(".")
print(address.split("."))

['Aura', 'Education', 'Society']
['Apple', 'Orange', 'Grapes', 'Mango']
['www', 'gmail', 'com']

In [ ]:
string ="Hello World"
print(string.upper())#Convert string to uppercase.
print(string.lower ())#Convert string to lowercase.
print(string.title())#Convert string to title form 
print(string.capitalize())#Convert first letter of string to uppercase.
print(string.swapcase())#swap the string to uppercase to lowercase

HELLO WORLD
hello world
Hello World
Hello world
hELLO wORLD

In [ ]:
word="  xyz  "
print(word.strip())#removes the both ends
print(word.lstrip())#removes leading characters (left strip)
print(word.rstrip())#removes trailing characters (right strip)

xyz
xyz
  xyz

In [ ]:
word="Hello world"
print(":".join(word))#join the string by adding the delimiter ":" between every char
print(" ".join (word))# join the string by adding the delimiter "space" between every char

H:e:l:l:o: :w:o:r:l:d
H e l l o   w o r l d

In [ ]:
print(''.join (reversed(word)))#Reverse the string

dlrow olleH

In [ ]:
names=['Ram','John','Emy']
print(names[0])
print(names[-1])

Ram
Emy

In [ ]:
names=['Ram','John','Emy']
names[0]="Annie"
print(names)

['Annie', 'John', 'Emy']

In [ ]:
names=['Ram','John','Emy']
names.append("Jose")
names.insert(0,'Ravi')
print(names)

['Ravi', 'Ram', 'John', 'Emy', 'Jose']

In [ ]:
names=['Ram','John','Ravi']
names.remove('Ravi')
print(names)
len(names)

['Ram', 'John']

2

In [ ]:
names=['Ram','Annie','John','Ravi','Emy']
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Annie', 'Emy', 'John', 'Ram', 'Ravi']
['Ravi', 'Ram', 'John', 'Emy', 'Annie']

In [ ]:
names=['Ram','Annie','John','Ravi','Emy']
print(names[0:3])

['Ram', 'Annie', 'John']

In [ ]:
dimensions=(200,50)
print(dimensions[0])
print(dimensions[1])

200
50

In [ ]:
company={}
company['name']="Aura"
print(company)
company['place']="Trivandrum"
print(company)
print(company.values())

{'name': 'Aura'}
{'name': 'Aura', 'place': 'Trivandrum'}
dict_values(['Aura', 'Trivandrum'])

In [ ]:
company_0={'name':'Curvelogics'}
company_1={'name':'Infosys'}
company_2={'name':'TCS'}
company=[company_0,company_1,company_2]
print(company)
company_2={'name':'TCS','place':['Trivandrum','Ernakulam']}
print(company_2.values())

[{'name': 'Curvelogics'}, {'name': 'Infosys'}, {'name': 'TCS'}]
dict_values(['TCS', ['Trivandrum', 'Ernakulam']])

In [ ]:
name=input("Enter your name:")
print("Hello",name)

Enter your name:John
Hello John

In [ ]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

Enter the first number:30
Enter the second number:3
33
27
90
10.0
0
27000
10

In [ ]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
print(a==b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

Enter the first number:30
Enter the second number:20
False
True
False
True
False

In [ ]:
import math
print(math.pi)
print(math.e)
print(math.sqrt(36))

3.141592653589793
2.718281828459045
6.0

In [ ]:
num=10
if num>=0:
  print("Positive or Zero")

Positive or Zero

In [ ]:
num=10
if num>=0:
  print("Positive or Zero")
else:
  print("Negative")

Positive or Zero

In [ ]:
num=int(input("Enter the number:"))
if num>0:
  print("Positive number")
elif num==0:
  print("Zero")
else:
  print("Negative number")

Enter the number:-27
Negative number

In [ ]:
names=["Shinma","Remya","Nikita","Emil"]
for name in names:
  print(name)
for n in range(10):
  print(n)

Shinma
Remya
Nikita
Emil
0
1
2
3
4
5
6
7
8
9

In [ ]:
company={'place':'Trivandrum','name':'Curvelogics'}
for key,value in company.items():
   print('% s:% s'%(key,value))

place:Trivandrum
name:Curvelogics

In [ ]:
doubled1=[num*2 for num in range(10)]
print(doubled1)
doubled2=[]
for num in range(10):
  doubled2.append(num*2)
print(doubled2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
num=0
while num<=10:
  print (num)
  num=num+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
prompt="\n Please enter the name of a city you have visited:"
prompt+="\n (Enter 'quit' when you are finished.)"
while True:
  city=input(prompt)
  if city=='quit':
    break
  else:
    print("I'd love to go to "+city.title()+"!")

 Please enter the name of a city you have visited:
 (Enter 'quit' when you are finished.)quit

In [ ]:
current_number=0
while current_number<10:
  current_number+=1
  if current_number%2==0:
    continue
  print(current_number)

1
3
5
7
9